@model JosephProject1.App.Models.LocationViewModel

@{
    ViewData["Title"] = "InventoryDetails";
}

<h1>Inventory Details:</h1>

<table class="table">
    <caption>Inventory Info</caption>
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Sales)
            </th>
            <th></th>
        <tr>
            <th scope="row">
                @Html.DisplayFor(model => model.Id)
            </th>
            <th scope="row">
                @Html.DisplayFor(model => model.Name)
            </th>
            <th scope="row">
                @Html.DisplayFor(model => model.Sales)
            </th>
        </tr>
    </thead>
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Inventory.First().Id)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Inventory.First().Name)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Inventory.First().Price)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Inventory.First().Quantity)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Inventory)
        {
            <tr>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Index">Back to location list</a>
</div>

