@model JosephProject1.App.Models.LocationViewModel

@{
    ViewData["Title"] = "OrdersDetails";
}

<h1>Order Details:</h1>

<table class="table">
    <caption>Order Info</caption>
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Sales)
            </th>
        <tr>
            <th scope="row">
                @Html.DisplayFor(model => model.Id)
            </th>
            <th scope="row">
                @Html.DisplayFor(model => model.Name)
            </th>
            <th scope="row">
                @Html.DisplayFor(model => model.Sales)
            </th>
        </tr>
    </thead>
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Orders.First().Id)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Orders.First().LocationId)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Orders.First().CustomerId)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Orders.First().Total)
            </th>
            <th scope="col">
                Options
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Orders)
        {
            <tr>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.LocationId)
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.CustomerId)
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td scope="row">
                    @Html.ActionLink("Product Details", "ProductDetails", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Index">Back to location list</a>
</div>
