@model IEnumerable<CustomerViewModel>

@{
    ViewData["Title"] = "Index";
}
<h1>Customers</h1>
<p>
    <a asp-action="Create">Create a new customer</a>
</p>

<table class="table">
    <caption>Customer Info</caption>
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.TotalPurchases)
            </th>
            <th scope="col">
                Options
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelitem => item.FirstName)
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.TotalPurchases)
                </td>
                <td scope="row">
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Orders Details", "OrdersDetails", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
