@model JosephProject1.App.Models.OrdersViewModel

@{
    ViewData["Title"] = "Product Details";
}

<h1>Product Details</h1>

<table class="table">
    <caption>Product Info</caption>
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.LocationId)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.CustomerId)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Total)
            </th>
        </tr>
        <tr>
            <th scope="row">
                @Html.DisplayFor(model => model.Id)
            </th>
            <th scope="row">
                @Html.DisplayFor(model => model.LocationId)
            </th>
            <th scope="row">
                @Html.DisplayFor(model => model.CustomerId)
            </th>
            <th scope="row">
                @Html.DisplayFor(model => model.Total)
            </th>
        </tr>
    </thead>
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.ProductOrders.First().Id)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.ProductOrders.First().Name)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.ProductOrders.First().Quantity)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.ProductOrders.First().Total)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ProductOrders)
        {
            <tr>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Index">Back to customer list</a>
</div>
